:root {
    --primary-color: #855a57;
    --border-color: #dadee4;
    --hover-color: #6b5f45;
    --text-color: #2a2f3a;
    --secondary-bg: #f7f3ee;
    --bg-color: #fafafa;
    --focus-color: #c7b277;
    --cart-signal: #d9573f;
    --border-thin: .5px solid var(--border-color);
    --gap-small: 0.5rem;
    --gap-large: 1.5rem;
}

/* General Styles */
html {
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
    font-family: Arial, "Noto Sans CJK TC", "PingFang TC", "Microsoft JhengHei", sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    max-width: 90%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    scroll-behavior: smooth;
    padding: 0;
}

h1,
h2,
h3 {
    text-align: center;
    font-weight: 500;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

#_404 img {
    border: var(--border-thin);
}

.display-none {
    display: none !important;
}

.hidden {
    opacity: 0 !important;
    visibility: visible !important;
    transform: scale(0.8) !important;
    pointer-events: none !important;
}

input[type=number] {
    appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Link Styles */
a {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: var(--border-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

a:focus,
button:focus,
select:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}

/* Lists */
.list {
    display: flex;
    gap: var(--gap-small);
}

.selected {
    background-color: var(--focus-color);
    color: var(--text-color);
}

.shadow {
    box-shadow: 0 .25rem 1rem var(--border-color);
}

/* Buttons */
.btn {
    padding: 0.8rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
    transition: background 0.3s ease, transform 0.2s ease;
    line-height: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--focus-color) !important;
    color: var(--text-color);
}

.disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

#no-cart,
#payment-canceled,
#payment-successed,
#_404 {
    background: var(--secondary-bg);
    border: var(--border-thin);
    color: var(--primary-color);
    padding: 3.2rem 1.6rem;
    text-align: center;
}

@media (min-width: 769px) {
    body {
        max-width: 95em;
        padding: 0 5rem;
    }

    h1,
    h2,
    h3 {
        text-align: left;
    }

    h1 {
        font-size: 2rem;
    }
}