<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >

        <link
            href="{{ '/_assets/icons/favicon.ico' | url }}"
            rel="icon"
            type="image/x-icon"
        >

        <link rel="apple-touch-icon" href="{{ '/_assets/icons/favicon.ico' | url }}">

        {% set js %}
            {% include "../../_assets/js/cart-link.js" %}
        {% endset %}

        <script>
            {{ js | jsmin | safe }}
        </script>

        {% set css %}
            {% include "../../../node_modules/normalize.css/normalize.css" %}

            {% include "../../_assets/css/styles.css" %}
            {% include "../../_assets/css/header.css" %}
            {% include "../../_assets/css/footer.css" %}
            {% include "../../_assets/css/floating-cart.css" %}
        {% endset %}

        <style>
            {{ css | cssmin | safe }}
        </style>

        <link rel="stylesheet" href="{{ settings.DATA_URL }}css/styles.css">

        <meta
            name="description"
            content="{{ meta_descr or i18n.meta.description[page.lang] }}"
        >

        <meta property="og:title" content="{{ title }}" >
        <meta
            property="og:description"
            content="{{ meta_descr or i18n.meta.description[page.lang]  }}"
        >
        <meta property="og:url" content="{{ page.url | url }}" >
        <meta property="og:type" content="website" >

        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'header.njk' %}
        <main class="wrapper">
            {{ content | safe }}
        </main>
        {% include 'footer.njk' %}
        {% include 'floating-cart.njk' %}
    </body>
</html>


